#participantList{
    .participant{
        position: relative;
        padding:5px 10px 5px 5px;
        background-color: lighten($background, 5%);
        border-radius: 0 4px 4px 0;
        @include display(flex);
        @include align-items(center);
        @include justify-content(space-between);

        &.observing{
            background-color: $primary;
        }

        img{
            min-width: 30px;
            border-radius: 3px;
        }

        p{
            @include ellip;
            padding: 0 10px;
            font-size:14px;
            @include flex(1);
            margin-bottom:4px;
        }

        .status{
            //position: absolute;
            right: 10px;
            top: 10px;
            width: 10px;
            height: 10px;
            border-radius:50%;
            background-color: lighten($success, 3%);
        }
    }
}
